*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
   font-family: "BBH Sans Bartle", sans-serif;
   color: #5e0000;
}

body{
    font-family: "Nunito", sans-serif;
    background-color: #a9d8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
    gap: 15xp;
    min-height: 100vh;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
    gap: 10xp;
}

input{
    padding: 20px;
    background: transparent;
    border: none;
    border: #5e0000;
    color: aliceblue;
}

button{
    padding: 20px;
    background: #000000;
    border: none;
    border: 20px solid #a9d8ff;
    color: #ffffff;
}

button:hover{
   background: #5e0000;
   border: 20xp solid #5e0000;
   color: #ffffff;
   cursor: pointer;

}
